
body {
font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
font-weight: bold;
text-decoration: none;

}


strong {
  font-weight: bold;
}

em {
  font-style: italic;
  font-size: 1em;
  color: #989898;
  color: rgba(0,0,0,0.35)
}

ul{
	margin-bottom: 1.75em;
}

figure img{
	margin-bottom: 0;
}

figcaption{
	margin: 0 auto 1.75em;
}




/* Links
-------------------------------------------------------------- */
a{
	font-weight: bold;
text-decoration: none;
  color: #2bb5cf;
	
}

a:hover{
	color: #9e3a30;
	transition: color .1s linear,background-color .1s linear;
}

.url{
	display: block;
	margin-bottom: 1.5em;
}


/* Layout
-------------------------------------------------------------- */
